<div id="cy"></div>
<div id="info"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/cytoscape.min.js"></script>
<script src="/js/cytoscape.js"></script>
<script src="/js/arbor.js"></script>
<script src="/js/tinysort.min.js"></script>
<script>$(function() { initialise('<%= network %>') })</script>
