<!DOCTYPE html>
<html>
  <head>
    <title>Gene Network</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon16.png" />
    
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/genenetwork.css" />
    <link rel="stylesheet" href="/styles/fixed-data-table.css" />
    <link rel="stylesheet" href="/styles/default.css" />
    <link rel="stylesheet" href="/styles/importer.css" />
  </head>
  
  <body>
    <%- body %>
  </body>
</html>
