@font-face {
    font-family: GG;
    font-weight: lighter;
    src: url("../fonts/Geogtq-Lg.otf");
}

@font-face {
    font-family: GPC;
    font-weight: lighter;
    src: url("../fonts/GalaxiePolarisCondensed-Light.otf");
}

@font-face {
    font-family: GPC;
    font-weight: medium;
    src: url("../fonts/GalaxiePolarisCondensed-Medium.otf");
}

@font-face {
    font-family: GPC;
    font-weight: lighter;
    font-style: italic;
    src: url("../fonts/GalaxiePolarisCondensed-LightItalic.otf");
}

/* html { */
/*     overflow-y: scroll; */
/*     height: 100%; */
/* } */

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: GG;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

#reactcontainer {
    height: 100%;
}

.vflex {
    display: -webkit-box;
    display:    -moz-box;
    display:         box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hflex {
    display: -webkit-box;
    display:    -moz-box;
    display:     -ms-box;
    display:         box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flexstart {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start;
}

.flexend {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    align-self: flex-end;
}

.flexselfcenter {
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-align-self: center;
    align-self: center;
}

.flexcenter {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.flexwrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexnowrap {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flexspacebetween {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.flexjustifycenter {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.flex10 {
    /* previous syntax */
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -ms-box-flex: 1 0 auto;
    box-flex: 1 0 auto;
    /* current syntax */
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flex01 {
    /* previous syntax */
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -ms-box-flex: 0 1 auto;
    box-flex: 0 1 auto;
    /* current syntax */
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.flex11 {
    /* previous syntax */
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -ms-box-flex: 1 1 auto;
    box-flex: 1 1 auto;
    /* current syntax */
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex00 {
    /* previous syntax */
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -ms-box-flex: 0 0 auto;
    box-flex: 0 0 auto;
    /* current syntax */
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.gn-app {
    height: 100%;
    /* width: 100%; */
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px;
}

.searchcontainer {
    clear: both;
    background-color: #4d4d4d;
}

.selectcontainer {
    padding: 0 20px 0 20px;
}

.textarea-genes {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #333333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    font-family: GG;
    font-size: 15px;
}

.searchheader {
    color: rgb(255,225,0);
    font-family: GPC;
    font-size: 2em;
    font-style: italic;
    padding: 15px 20px 20px 20px;
}

.smalldescription {
    font-size: 0.875em;
}

.verysmalldescription {
    font-size: 0.75em;
}

.examples {
    padding: 20px;
    color: #999999;
}

.examples > a {
    color: rgb(255,225,0);
    text-decoration: none;
}

/*th {
    text-align: left;
}*/


.black{
    color: #000000;
}

.button {
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
    stroke-width: 5px;
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button:hover a {
    color: #4d4d4d;
}

.button:hover {
    background-color: #ffe100;
    color: #4d4d4d;
}

.button.small {
    padding: 6px 8px;
}



.inversebutton {
    background-color: #ffe100;
    color: #4d4d4d;
}

.inversebutton:hover {
    background-color: #ffffff;
    color: #4d4d4d;
}

#networksvg {
    position: absolute;
    top: 0;
    left: 0;
}

.xbutton svg {
    stroke: #4d4d4d;
}

.xbutton:hover svg {
    /* stroke: rgb(255,225,0); */
}


.dropdown {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #4d4d4d;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    stroke-width: 10;
    display: inline-block;
    position: absolute;
    left: 10px;
}

.dropdown span {
    display: inline-block;
    padding: 8px;
}

.dropdown:hover .dropdowntriangle svg {
    fill: rgb(255,225,0);
}

.dropdown:hover .dropdowntriangle {
    background-color: #4d4d4d;
}

.dropdowntriangle {
    float: right;
    color: #4d4d4d;
    background-color: rgb(255,225,0);
    padding: 8px;
}

.dropdowntriangle svg {
    fill: #4d4d4d;
    stroke-width: 0;
}

.dropdown .outer {
    background-color: #ffffff;
}

.dropdownoption {
    background-color: #ffffff;
}

.dropdownoption:hover {
    background-color: rgb(255,225,0);
}

.dropup {
    background-color: #ffffff;
    color: #4d4d4d;
    border: 1px solid #dcdcdc;
    text-decoration: none;
    /*stroke-width: 10;*/
    display: inline-block;
    position: relative;
}

.dropup span {
    display: inline-block;
    padding: 8px;
}

.dropup:hover .dropuptriangle svg {
    fill: rgb(255,225,0);
}

.dropup:hover .dropuptriangle {
    background-color: #4d4d4d;
}

.dropuptriangle {
    float: right;
    color: #4d4d4d;
    background-color: rgb(255,225,0);
    padding: 8px;
}

.dropuptriangle svg {
    fill: #4d4d4d;
    stroke-width: 0;
}

.dropup .outer {
    background-color: #ffffff;
}

.dropupoption {
    background-color: #ffffff;
}

.dropupoption:hover {
    background-color: rgb(255,225,0);
}

.directiontriangledown {
    fill: #ff3c00;
}

.directiontriangleup {
    fill: #a0d200;
}

.tablerectangle {
    display: inline-block;
    margin-right: 5px;
    margin-top: 1px;
}

.smallbutton {
    background-color: #4d4d4d;
    color: #ffffff;
    padding: 6px 8px;
    /* font-size: 0.875em; */
    text-decoration: none;
    stroke-width: 10;
}

.smallbutton a {
    text-decoration: none;
    color: #ffffff;
}

.smallbutton:hover a {
    color: #4d4d4d;
}

.smallbutton:hover {
    background-color: #ffe100;
    color: #4d4d4d;
}

.selectedbutton {
    cursor: pointer;
    cursor: hand;
    background-color: #ffe100;
    color: #4d4d4d;
}

.arrow {
    margin-top: 8px;
    background-color: rgb(255,225,0);
    stroke: rgb(77,77,77);
    fill: none;
}

/* .arrow:hover { */
/*     background-color: rgb(77,77,77); */
/*     stroke: rgb(255,255,255); */
/* } */

.disabled {
    color: #999999;
    cursor: not-allowed;
}

.disabled:hover {
    color: #999999;
    background-color: #4d4d4d;
}

.disabled.selectedbutton:hover {
    background-color: rgb(255,225,0);
}

a.externallink:link {
    color: #000000;
}

a.externallink:hover {
    text-decoration: underline;
}

a.externallink {
    /* color: #999999; */
    color: #000000;
}

.plot {
    position: relative;
    float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
    color: #999;
    fill: #999;
}

.tick text {
    color: #999;
    fill: #999;
}

.dot-normal {
    fill: black;
}

.dot-current {
    fill: #00a0d2;
    pointer-events: none;
}

.dot-fixed {
    fill: red;
}

/*.tooltip {
    position: absolute;
    margin-left: 10px;
    padding: 6px;
    pointer-events: none;
    background-color: black;
    color: white;
}*/

.paddingleftalignright {
    text-align: right;
    padding-left: 30px;
}

.hidden {
    opacity: 0.3 !important;
}

.hlarect {
    fill: #4d4d4d;
}

.chrpath {
    /* fill: #4d4d4d; */
    /* stroke: #4d4d4d; */
    fill: #999999;
    stroke: #999999;
    stroke-width: 1;
    /* shape-rendering: crispEdges; */
}

.chrline {
    stroke: rgb(255,225,0);
    fill: rgb(255,225,0);
    stroke-width: 2;
    shape-rendering: crispEdges !important;
}

.chrlinethin {
    stroke: rgb(255,225,0);
    fill: rgb(255,225,0);
    stroke-width: 1;
    shape-rendering: crispEdges !important;
}

.brush {
  fill: #999999;
  fill-opacity: 0.2;
  stroke: #4d4d4d;
  stroke-width: 0;
  shape-rendering: crispEdges !important;
}

.nodehighlight {
    fill: red;
}

rect.main {
    shape-rendering: crispEdges;
}

.allevents {
    pointer-events: all;
}

/* TODO rename */
.paddingleftright {
    margin-left: 30px;
    margin-right: 30px;
}

.paddingright {
    padding-right: 30px;
}

.paddingleftsmall {
    padding-left: 5px;
}

.genepaneltable {
    max-width: 300px;
}

.textareasearchform {
    width: 15%;
    height: 265px;
    float: left;
}

.textareasearchform textarea {
    width: 90%;
    height: 100%;
    resize: none;
}

line.link {
    stroke-width: 1px;
}

.selected {
    color: #ff3c00;
}

.datarow:hover {
    background-color: rgb(255,225,0);
    color: rgb(77,77,77);
}

.selectedrow {
    background-color: rgb(255,225,0);
    color: rgb(77,77,77);
}

/*.evenrow {
    background-color: #ffffff;
}

.oddrow {
    background-color: #f8f8f8;
}*/

/*.rowcolors tr:first-child{
    background-color: #fff;
}*/

.movable {
    cursor: move;
}

.clickable {
    cursor: pointer;
    cursor: hand;
}

.delete {
    stroke: #4d4d4d;
    stroke-width: 4px;
    fill: #ffffff,
}

.delete:hover {
    stroke: rgb(255,225,0);
}

.underline {
    text-decoration: underline;
}

.nodecoration {
    text-decoration: none;
}

.damped {
    /*    color: #999999; */
    opacity: 0.6;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear {
    clear: both;
}

.fullwidth {
    width: 100%;
}

.geneopenmenu {
    position: relative;
}

.geneopenmenu .outer {
    position: absolute;
}

.invisible {
    display:none;
}

.maxwidth {
    max-width: 1280px;
}

.network {
    position: relative;
    height: 100%;
    background-color: #ffffff;
}

/*.gn-network {
    margin-top: 10px;
}*/

.gn-network-legendpanel {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    /* padding: 10px; */
    /* max-width: 75%; */
    z-index: 1;
    /* background-color: white; */
    opacity: 0.95;
    border-radius: 0 3px 0 0;
}


.networkpanelrelative {
    width: 100%;
    height: 35vh;
    position: relative;
}

.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.gn-top-menubar > a {
    text-decoration: none;
    color: #4d4d4d;
}

.termlegend {
    float: right;
    text-align: right;
}

.termbuttons {
    padding: 0 0 20px 0;
}

.addremove {
    text-align: center;
}

.predicted.caption {
    padding-bottom: 10px;
}

.grouptable {
    width: 100%;
    border-collapse: collapse;
    clear: both;
}

.listtable {
    clear: both;
    padding-top: 10px;
    margin-right: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.datatable {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    clear: left;
}

.tabletextheader {
    padding-bottom: 5px;
}

.datatable th:not(.tabletextheader) {
    text-align: left;
    /* width: 8%; */
    word-break: break-word;
}

.datatable td.text {
    padding-left: 6px;
    line-height: 1.8em;
}

.datatable a {
    display: inline-block;
    width: 100%;
}

.datatable .menuitem {
    display: inline-block;
    width: initial;
}

.datatable tr:nth-child(even){
    background-color: #f8f8f8;
}

.vheight {
    height: 100vh;
}

.termcontainer {
    /* width: 100%; */
    /* height: 100vh; */
    max-width: 1280px;
    padding: 20px;
    margin-top: 10px;
    background-color: #ffffff;
    position: relative;
}

.pwatable {
    border-collapse: collapse;
    clear: left;
    margin-right: 10px;
}

.pwatable td {
    width: 100%;
    min-width: 65px;
}

.gptable {
    border-collapse: collapse;
    clear: left;
}

.menuitem {
    margin: 10px;
}

.menuitem.first {
    margin-left: 0;
}

.menuitem.last {
    margin-right: 0;
}

.submenuitem {
    padding: 10px;
}

.submenuitem-first {
    padding: 10px;
}

.submenuitem-last {
    padding: 10px;
}

.networkprogress {
    position: absolute;
    background-color: #f8f8f8;
    opacity: 1;
}


.table {
    width: 100%;
    border-collapse: collapse;
    clear: left;
}

.table tbody {
    display: block;
}

.table thead {
    /*width: 620px;*/
    display: block;
    border-bottom: 1px solid #dcdcdc;
}

.table th {
    height: 31px;
    overflow: auto;
    text-align: left;
}

.table td {
    overflow: auto;
    text-align: left;
}

.table td:nth-child(1), .table th:nth-child(1) {padding-left: 6px;}

.table tr {
    text-align: left;
    height: 31px;
}

.table th.reactable-header-sort-desc:after {
    padding-top: 10px;
    content: '\25B2';
    zoom: 80%;
    color: #999999;
    position: relative;
}

.table th.reactable-header-sort-asc:after {
    padding-top: 10px;
    content: '\25BC';
    zoom: 80%;
    color: #999999;
    position: relative;
}


.rowcolors thead tr:nth-child(1){
    background-color: #fff;
}

.rowcolors tr:nth-child(even){
    background-color: #fff;
}

.rowcolors tr:nth-child(odd){
    background-color: #f8f8f8;
}

.diag-table tbody {
    overflow: auto;
    height: 350px;
}

.diag-table td:nth-child(1), .diag-table th:nth-child(1) {min-width: 40px; padding-left: 10px;}
.diag-table td:nth-child(2), .diag-table th:nth-child(2) {min-width: 100px;}
.diag-table td:nth-child(3), .diag-table th:nth-child(3) {width: 20%; min-width: 100px;}
.diag-table td:nth-child(4), .diag-table th:nth-child(4) {width: 20%; min-width: 100px;}
.diag-table td:nth-child(5), .diag-table th:nth-child(5) {width: 20%; min-width: 100px;}
.diag-table td:nth-child(6), .diag-table th:nth-child(6) {width: 20%; min-width: 110px;}
.diag-table td:nth-child(7), .diag-table th:nth-child(7) {width: 20%; min-width: 100px;}
.diag-table tr {height: 24px;}

.pheno-table td:nth-child(1), .pheno-table th:nth-child(1) {min-width: 40px; padding-left: 10px;}
.pheno-table td:nth-child(2), .pheno-table th:nth-child(2) {min-width: 250px; width: 100%;}
.pheno-table td:nth-child(3), .pheno-table th:nth-child(3) {min-width: 150px;}
.pheno-table td:nth-child(4), .pheno-table th:nth-child(4) {min-width: 80px;}
.pheno-table td:nth-child(5), .pheno-table th:nth-child(5) {min-width: 80px;}

.gene-term-table td, .gene-term-table th { min-width: 80px; width: 100%; text-align: center;}
.gene-term-table td:nth-child(1), .gene-term-table th:nth-child(1) { padding-left: 6px; text-align: left;}

.gene-coreg-table td:nth-child(2), .gene-coreg-table th:nth-child(2) {width: 100%;}
.gene-coreg-table td, .gene-coreg-table th {min-width: 150px;}

.tissues-table td:nth-child(1), .tissues-table th:nth-child(1) {min-width: 15px; padding-left: 10px;}
.tissues-table td:nth-child(2), .tissues-table th:nth-child(2) {min-width: 110px;}
.tissues-table td:nth-child(3), .tissues-table th:nth-child(3) {width: 50%; min-width: 80px; text-align: center;}
.tissues-table td:nth-child(4), .tissues-table th:nth-child(4) {width: 50%; min-width: 80px; text-align: center;}

.tissues-table tr {
    text-align: left;
    height: 24px;
}

.tissues-table th.reactable-header-sort-desc:after {
    padding-top: 10px;
    content: '\25B2';
    zoom: 80%;
    color: #999999;
    position: relative;
}

.tissues-table th.reactable-header-sort-asc:after {
    padding-top: 10px;
    content: '\25BC';
    zoom: 80%;
    color: #999999;
    position: relative;
}

.hpo-table tbody {
    height: 150px;
    width: 100%;
    overflow-y: scroll;
    display: block;
}

.hpo-table thead {
    width: 100%;
    display: block;
    border-bottom: 1px solid #dcdcdc;
}


/*
.hpo-table th:nth-child(1){
    width:100%;
}

.hpo-table td:nth-child(1){
    width: 100%;
}

.hpo-table th:nth-child(2){
    min-width: 137px;
}

.hpo-table td:nth-child(2){
    min-width: 137px;
}

.hpo-table th:nth-child(3){
    min-width: 30px;
}

.hpo-table td:nth-child(3){
    min-width: 30px;
}*/

.tooltip {
    opacity: 1 !important;
    background-color: #4d4d4d !important;
}

/*.diagnosis-table {
    width: 100%;
    border-collapse: collapse;
    clear: left;
}
*/
/*.diagnosis-table tbody {
    display: block;
    height: 200px;
    overflow: auto;
}*/


/*
.diagnosis-table: thead {
    display: block;
}

.diagnosis-table tr:nth-child(even){
    background-color: #f8f8f8;
}*/

/*.diagnosis-table th.reactable-header-sort-desc:after {
    padding-top: 10px;
    content: '\25B2';
    zoom: 80%;
    color: #999999;
    position: relative;
}

.diagnosis-table th.reactable-header-sort-asc:after {
    padding-top: 10px;
    content: '\25BC';
    zoom: 80%;
    color: #999999;
    position: relative;
}*/

.gn-network-panelcontainer {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 10px;
    display: flex;
    flex-flow: column nowrap;
    
    padding: 10px 10px 0 0;
    width: 30%;
    max-height: 95vh;
    /*max-width: 300px;*/
    z-index: 1;
}

.gn-network-controlpanel{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px 0 0 10px;
    z-index: 1;
    background-color: #fff;
    opacity: 0.95
}

.networkleftpanel {
    position: relative;
    /* min-width: 150px; */
    overflow-y: auto;
    background-color: #ffffff;
    opacity: 0.95;
}

.networktissuespanel {
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
    height: 60%;
    background-color: #ffffff;
    opacity: 0.95;
}

.noshrink {
    flex: 0 0 auto;
}

#networkpanel {
    flex-shrink: 0;
}

.networkrightmask {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100%;
    max-width: 700px;
    opacity: 0;
}

.analysispanel {
    flex: 2 1 auto;
    /* max-width: 700px; */
    margin-top: 10px;
    background-color: #ffffff;
    opacity: 0.95;
}

.defaultcursor {
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#genepanel {
    
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 35px;
    right: 90px;
    max-width: 200px;
    background-color: #ffffff;
    opacity: 0.95;
}

#edgepanel {
    
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 70px;
    max-width: 200px;
    background-color: #ffffff;
    opacity: 0.95;
}

.smallpadding {
    padding: 10px;
}

.noscroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.hidescrollbar {
    padding-right: 25px;
}

.bordered {
    /* border: 1px solid #dcdcdc; */
    border-radius: 3px;
    /* box-shadow: 5px 5px 5px 0px rgba(153,153,153,1); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3) !important;
}

.paddingbottom {
    padding-bottom: 18px;
}

label > input {
    visibility: hidden;
    position: absolute;
}

label {
    cursor: pointer;
    cursor: hand;
    margin-right: 10px;
}

label > input + img {
    cursor: pointer;
    cursor: hand;
}

.initialheight {
    height: initial;
}

.gn-footer {
    padding: 8px 20px;
    margin: 10px 0;
    background-color: #ffffff;

    /* previous syntax */
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -ms-box-flex: 0 0 auto;
    box-flex: 0 0 auto;
    /* current syntax */
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    
    /* transform-style: preserve-3d; */
}

.gn-footer img:not(.cleverfranke) {
    height: 40px;
}

.gn-footer img:not(.umcg) {
    padding-right: 10px;
}

.gn-footer a {
    text-decoration: none;
    color: #000000;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

@media only screen and (min-device-width: 480px) {

    html {
        height: 100%;
    }
}

@media only screen and (max-device-width: 479px) {

    .gn-network {
        /* previous syntax */
        -webkit-box-flex: 1 0 480px;
        -moz-box-flex: 1 0 480px;
        -ms-box-flex: 1 0 480px;
        box-flex: 1 0 480px;
        /* current syntax */
        -webkit-flex: 1 0 480px;
        -moz-flex: 1 0 480px;
        -ms-flex: 1 0 480px;
        flex: 1 0 480px;
    }
}

@media only screen and (max-device-width: 479px) {

    .mobilefullwidth {
        width: 100%;
    }
}

@media only screen and (max-device-width: 1280px) {

    .smallscreensmallfont {
        font-size: 0.875em;
    }
}

.reactable-th-- {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reactable-th--:focus {
    outline:none;
}

.reactable-th-network {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    /*text-align: left!important;*/
}

.reactable-th-network:focus {
    outline:none;
}

.reactable-header-sortable:focus {
    outline:none;
}

.reactable-header-sortable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.diagflex-container {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.prio-tables {
    min-width: 600px;
    max-width: 1280px;
    flex: 1 1 auto;
    padding: 15px;
}

.prio-pastebox {
    padding: 15px;
    align-self: flex-end;
	flex: 1 1 auto;
}

.textarea-flex {
    width: 300px;
}

.homosapiens {
	width: 100px;
}

.vcffileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box-sizing { 
	box-sizing: border-box;
	 -moz-box-sizing:border-box;

}

.buttondarkbg {
    font-family: 'GG';
    text-decoration: none;
    color: #ffe100;
    background-color: #4d4d4d;
    display: inline-block;
    padding: 8px;
    border: 1px solid #ffe100;
}
/*
.buttondarkbg {
    font-family: 'GG';
    text-decoration: none;
    color: #4d4d4d;
    background-color: #ffe100;
    display: inline-block;
    padding: 8px;
    border: 1px solid #4d4d4d;
}*/

.buttondarkbg:hover {
    background-color: #ffe100;
    color: #4d4d4d;
    border: 1px solid #ffe100;
    cursor: pointer;
}
